{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<progress id="reading-progress" class="progress" value="0">
    <div class="progress-container">
        <span class="progress-bar"></span>
    </div>
</progress>

<main id="site-main" class="site-main outer">
    <div class="inner">
        <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">
            <header class="post-full-header">
                <h1 class="post-full-title">{{title}}</h1>
                <div class="post-author">
                    {{#foreach authors}}
                    <div class="image" style="background-image: url({{profile_image}});"></div>
                    <p class="name">{{name}}</p>
                    {{/foreach}}
                    <p>{{date format="MMM D"}} &bull; {{reading_time}}</p>
                </div>
            </header>
            {{#if feature_image}}
            <figure class="post-full-image">
                {{!-- This is a responsive image, it loads different sizes depending on device
                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                <img
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                    sizes="(max-width: 800px) 400px,
                            (max-width: 1170px) 700px,
                            1400px"
                    src="{{img_url feature_image size="xl"}}"
                    alt="{{title}}"
                />
            </figure>
            {{/if}}

            <section class="post-full-content">
                <div class="post-content">
                    {{content}}
                </div>

                <div class="tags">
                    {{tags separator=""}}
                </div>

                <div class="share-options">
                    <div class="next-post">
                        
                    </div>
                    <div class="share-buttons">
                        <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                            onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;">
                            <i class="icon-twitter"></i>
                        </a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                            onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
                            <i class="icon-facebook"></i>
                        </a>
                    </div>
                </div>
            </section>

            {{#if @labs.subscribers}}
            <section class="subscribe-form">
                <div class="content">
                    <h3><i class="icon-bell"></i> Subscribe to get latest post</h3>
                    {{subscribe_form placeholder="youremail@example.com"}}
                </div>
            </section>
            {{/if}}

        </article>
    </div>
</main>

{{#if primary_tag}}
<aside class="read-next outer">
    <div class="inner">
        <h3 class="label">Further reading</span></h3>
        <div class="read-next-feed">
            {{#get "posts" include="tags" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="2" as |related_posts|}}
                {{#if related_posts}}
                    {{#foreach related_posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                {{/if}}
            {{/get}}
        </div>
    </div>
</aside>
{{/if}}

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

// NOTE: Scroll performance is poor in Safari
// - this appears to be due to the events firing much more slowly in Safari.
//   Dropping the scroll event and using only a raf loop results in smoother
//   scrolling but continuous processing even when not scrolling
$(document).ready(function () {
    // Start fitVids
    var $postContent = $(".post-full-content");
    $postContent.fitVids();
    // End fitVids

    var progressBar = document.querySelector('#reading-progress');

    var lastScrollY = window.scrollY;
    var lastWindowHeight = window.innerHeight;
    var lastDocumentHeight = $(document).height();
    var ticking = false;

    function onScroll() {
        lastScrollY = window.scrollY;
        requestTick();
    }

    function onResize() {
        lastWindowHeight = window.innerHeight;
        lastDocumentHeight = $(document).height();
        requestTick();
    }

    function requestTick() {
        if (!ticking) {
            requestAnimationFrame(update);
        }
        ticking = true;
    }

    function update() {
        var progressMax = lastDocumentHeight - lastWindowHeight;
        progressBar.setAttribute('max', progressMax);
        progressBar.setAttribute('value', lastScrollY);

        ticking = false;
    }

    window.addEventListener('scroll', onScroll, {passive: true});
    window.addEventListener('resize', onResize, false);

    update();

});
</script>
{{/contentFor}}
